*{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #c7b7a3;
    color: black;
}


img{
    width: 170px;
    height: 200px;
    object-fit: cover;
    margin-top: 1rem;
    margin-left: 2rem;
    border-radius: 1rem;
}

.resume_box{

    margin: auto;
    width: 70%;
    height: 800px;
    background-color: #e8d8c4;
    box-shadow: 5px 21px 20px 20px #3d3f4238;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contact__section{
    margin-left: 2rem;
    font-size: large;
}

.ss{
    background:#561C24;
    color: #fff;
    padding-right: 1rem;
    margin-right: 2rem;
    height: 100%;
    width: 25%;
}

.contact__section .phone__contact{
    margin-top: 1rem;
    margin-bottom: 3rem;

}

.contact__section h2{
    color: #c3b1e6;
}
.contact__section .mail{
    font-size: medium;
    
 }

.contact__section .q{
    margin-bottom: 3rem;
}

.contact__section .l{
    margin-bottom: 3rem;
}

.contact__section .loisirs{
    margin-bottom: 2rem;
}

.home__section{
    /* background-color: aquamarine; */
    width: 60%;
    margin-left: 280px;
    margin-top: -790px;
}

.home__name{
    font-size: 55px;

}

.home__description{
    font-size: large;
}

.info{
    margin-top: 1rem;
}

.section__title{
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.quality{
    margin-top: 3rem;
}

.compétence{
    margin-top: 1rem;
}
